<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Area-Mapper">
	<resultMap type="area" id="areaMap">
		<id property="areaNo" column="area_no" />
		<result property="areaName" column="area_name" />
	</resultMap>
	
	<select id="selectAreaList" resultMap="areaMap">
		SELECT
			*
		FROM
			AREA
	</select>
	
	<select id="selectAreaByNo" parameterType="int" resultMap="areaMap">
		SELECT
			*
		FROM
			AREA
		WHERE
			AREA_NO = #{areaNo}
	</select>
	
	<insert id="insertArea" parameterType="area">
		INSERT INTO AREA (
			AREA_NAME 
		) VALUES (
			#{areaName}
		)
	</insert>
	
	<update id="updateArea" parameterType="area">
		UPDATE 
			AREA
		SET
			AREA_NAME = #{areaName}
		WHERE 
			AREA_NO = #{areaNo}
	</update>
	
	<delete id="deleteArea" parameterType="int">
		DELETE FROM
			AREA
		WHERE 
			AREA_NO = #{areaNo}
	</delete>
</mapper>